<h1>Hi Lo Game</h1>

<h4>Hello <%= session[:user] %></h4>

<% if session[:user].nil? %>
  <form method="get" action="game">
    <input type="text" name="user" placeholder="Enter your name">
    <input type="submit" value="Save Name">
  </form>
<% end %>

<div>Current guess: <%= params[:number] %></div>
<div>Your guess is <%= @message %></div>
<div>Number of Guesses: <%= @counter %></div>
<div>Secret: <%= @secret %></div>


<form method="get" action="game">
  <input type="number" name="number" placeholder="Enter your guess">
  <input type="submit" value="Guess">
</form>


<form method="get" action="new_game">
  <input type="submit" value="Reset Game">
</form>

<div>
  <h4>High Scores</h4>
  <table>
    <tr>
      <th>Name</th>
      <th>Win Count</th>
    </tr>

    <tr>
      <td><%= cookies[:player] %></td>
      <td><%= cookies[:wincount] %></td>
    </tr>

    <tr>
      <td>Second Place</td>
      <td>Score2</td>
    </tr>

    <tr>
      <td>Third Place</td>
      <td>Score3</td>
    </tr>
  </table>
</div>
